#categories {
  background-color: #111111;
  border-top: 1px solid #212529;
  border-bottom: 1px solid #212529;
}
.heading .welc {
  margin: auto;
  display: block;
  width: fit-content;
  background-color: rgba(36, 22, 11, 0.4);
  border: 1px solid #ff8904;
  font-size: 14px;
  color: #f97316;
}
.heading h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin: 30px auto;
}
.heading p {
  font-size: 18px;
  text-align: center;
  color: #a1a1a1;
}
.inner {
  border: 1px solid #212529;
  background-color: #161616;
  transition: all 0.3s;
}
.inner:hover {
  transform: translateY(-3px);
  border-color: #ff6900;
  background: linear-gradient(to top left, #F1AE00, #ff6900);
}
.inner:hover .icon2 {
  opacity: 1;
}
.inner:hover .icon1 {
  color: #fff;
  background-color: #FDA433;
  border: none;
}

.icon1 {
  color: #ff6900;
  font-size: 20px;
  padding: 10px;
  background-color: #2e1e14;
  border: 1px solid #f97316 ;
  width: fit-content;
  transition: all 0.3s;
}
.icon2 {
  color: #fff;
  font-size: 15px;
  padding: 10px;
  background-color: #FDA433;
  width: 38px;
  height: 38px;
  opacity: 0;
  transition: all 0.3s;
}
.categorir .inner h6 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.categorir .inner p {
  font-size: 16px;
  color: #a1a1a1;
}
.categorir .inner:hover p {
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;
}
