<section id="hero" class="pt-5">
  <div class="container pt-5">
    <p class="welc py-2 px-3 rounded-pill">من نحن</p>
    <h1>
      مهمتنا هي
      <span>الإعلام والإلهام</span>
    </h1>
    <p class="desc my-3">
      مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين ونصائح عملية لتطوير
      مهاراتكم. نحن شغوفون بمشاركة المعرفة ومساعدة المصورين على تنمية مهاراتهم من خلال محتوى عالي
      الجودة.
    </p>

    <div class="boxs">
      <div class="row g-3 justify-content-center">
        <div class="col-6 col-md-3 d-flex justify-content-center">
          <div class="inner">
            <i class="icon fa-solid fa-pen-nib"></i>
            <p class="num">6</p>
            <p class="name">كاتب</p>
          </div>
        </div>
        <div class="col-6 col-md-3 d-flex justify-content-center">
          <div class="inner">
            <i class="icon fa-solid fa-folder-open"></i>
            <p class="num">4</p>
            <p class="name">تصنيفات</p>
          </div>
        </div>
        <div class="col-6 col-md-3 d-flex justify-content-center">
          <div class="inner">
            <i class="icon fa-solid fa-users"></i>
            <p class="num">10+ ألف</p>
            <p class="name">قارئ</p>
          </div>
        </div>
        <div class="col-6 col-md-3 d-flex justify-content-center">
          <div class="inner">
            <i class="icon fa-solid fa-newspaper"></i>
            <p class="num">50+</p>
            <p class="name">مقالة</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
