.navbar {
  background-color: #0a0a0a !important;
}
.nav__logo--text {
  h2 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
  }
  p {
    font-size: 12px;
    color: #ff8904cc;
  }
}
.navbar-nav {
  background-color: #161616;
  display: flex;
  justify-content: space-around !important;
  /* background: linear-gradient(#f54b00,#f87115); */
  padding-left: 0 !important;
}
.mainColor{
  background: linear-gradient(to left, #f54b00, #f87115);

  border-radius: 25px ;
}
.navbar-nav .nav-item a {
  color: #a1a1a1;
  transition: all 0.3s;
  &:hover{
    color: #fff;
  }
}
.nav__logo--foto {
  width: fit-content !important;

  img {
    width: fit-content !important;
    width: 50px;
    height: 50px;
    display: block;
  }
}
/* .search {
  width: 50px;
  height: 50px;
  background-color: #fff;
} */
.fa-magnifying-glass {
  padding: 10px;
  display: block;
  width: fit-content;
  font-size: 20px;
  transition: all 0.3s;
  &:hover {
    color: #f87115;
    background-color: #161616;
  }
}
.navbar-collapse button {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s;
  &:hover{
    transform: translateY(-3px);
  }
}
@media screen and (max-width: 768px) {
  .mainColor{
    border: 1px solid #a1a1a1;
    background: linear-gradient(to left, #ff6900, #ff8904);
    /* color: #ff6900 !important; */
  border-radius: 10px ;
  }
  .navbar-nav {
    padding: 30px !important;
    border-radius: 25px !important;
    .nav-item {
      padding: 5px;
      border-radius: 15px !important;
      margin: 3px 0 !important;
      transition: all 0.3s;
      &:hover{
        background-color: #1a1a1a;
      }
    }
  }
  .nav-item {
    margin: 0 !important;
  }
  .optionl {
    display: none;
  }
  
.navbar-collapse button {
  width: 100%;
  margin: auto !important;
  margin-top: 10px !important;
  display: block;
}
.navbar-collapse .form {
  display: block !important;
}
}
