<!-- <section id="hero" class="pt-5">
  <div class="container pt-5">
    <p class="welc py-2 px-3 rounded-pill">مرحباً بك في عدسة</p>
    <h1>
      اكتشف <span>فن</span>
      <br />
      التصوير الفوتوغرافي
    </h1>
    <p class="desc my-3">انغمس في أسرار المحترفين ونصائح عملية لتطوير مهاراتك في التصوير.</p>
    <div class="btns my-3">
      <button routerLink="/blog" class="btn btn__1 rounded-pill">استكشف المقالات <i class="fa-solid fa-arrow-left-long mx-2"></i></button>
      <button routerLink="/about" class="btn btn__2 rounded-pill"><i class="fa-solid fa-circle-info mx-2"></i>اعرف المزيد</button>
    </div>
    <div class="boxs">
      <div class="row g-3 justify-content-center">
        <div class=" col-6 col-md-3 d-flex justify-content-center">
          <div class="inner">
            
            <i class="icon fa-solid fa-pen-nib"></i>
            <p class="num">6</p>
            <p class="name">كاتب</p>
          </div>
        </div>
        <div class=" col-6 col-md-3 d-flex justify-content-center">
          <div class="inner">
            <i class="icon fa-solid fa-folder-open"></i>
            <p class="num">4</p>
            <p class="name">تصنيفات</p>
          </div>
        </div>
        <div class=" col-6 col-md-3 d-flex justify-content-center">
          <div class="inner">
            <i class="icon fa-solid fa-users"></i>
            <p class="num">10+ ألف</p>
            <p class="name">قارئ</p>
          </div>
        </div>
        <div class=" col-6 col-md-3 d-flex justify-content-center">
          <div class="inner">
            
            <i class="icon fa-solid fa-newspaper"></i>
            <p class="num">50+</p>
            <p class="name">مقالة </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- TEST More Compopnents Her -->
<app-sechomehero></app-sechomehero>

<app-sechometwo></app-sechometwo>

<app-sechome-categories></app-sechome-categories>
<app-sechome-latest></app-sechome-latest>
