<section>
  <div class="text-center">
    <h1 class="fw-bold">404</h1>
    <div class="error-graphic-wrapper">
    <div class="sad-circle d-flex align-items-center justify-content-center">
        <i class="fa-regular fa-frown sad-icon"></i>
        
        <span class="dot dot-top-right"></span>
        <span class="dot dot-bottom-left"></span>
    </div>
</div>
    <p class="p_1 mt-4">عفواً! الصفحة غير موجودة</p>
    <p class=" p_2 mt-4 mb-5">
      الصفحة التي تبحث عنها غير موجودة أو تم نقلها. دعنا نعيدك إلى المسار الصحيح.
    </p>

    <div class="btns my-3 pb-4 border-bottom">
      <button routerLink="/" class="btn btn__1 rounded-pill">
        <i class="fa-regular fa-house"></i>
        الذهاب للرئيسية
      </button>
      <button routerLink="/blog" class="btn btn__2 rounded-pill">
        <i class="fa-regular fa-newspaper"></i>
        تصفح المقالات
      </button>
    </div>

    <div class="foot">
      <p>قد تجد هذه مفيدة:</p>
      <div>
        <a class="p-3" routerLink="/blog">المدونة</a>
        <a class="p-3" routerLink="/about">من نحن </a>
      </div>
    </div>
  </div>
</section>
