#blog {
  background: #0b0b0b url('../../../assets/bg-grid-glow.svg') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 60px 0;
}
#blog .container {
  height: 100%;
}
#blog .welc {
  background-color: rgba(36, 22, 11, 0.4);
  color: #f97316;
  border: 1px solid #ff8904;
  font-size: 14px;
  width: fit-content;
  margin: auto;
}
#blog h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  span {
    color: #fa9e1e;
  }
}
#blog .desc {
  font-size: 20px;
  font-weight: 400;
  color: #a1a1a1;
}
.main {
  border-top: 1px solid #212529;
  border-bottom: 1px solid #212529;
  background-color: #0a0a0a;
}
.nav-bar-link {
  border-bottom: 1px solid #212529;
}
.nav-category .btn {
  border: 1px solid #212529;
  background-color: #161616;
  margin: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #a1a1a1;
  border-radius: 12px;
  transition: all 0.3s;
  &:hover {
    border-color: #f97316;
  }
}
.btn-active {
  background: linear-gradient(to left, #ff6900, #ff8904);
  color: #fff !important;
}
.form-control {
  --bs-body-color: #a1a1a1 !important;
  --bs-body-bg: #161616 !important;
  --bs-border-color: #212529;
}
.form-control::placeholder {
  color: #a1a1a1;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #ff8904;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #f97316;
}

.top-bar {
  padding: 18px 0;
}

.container-bar {
  margin: auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left icons */
.left-actions {
  display: flex;
  gap: 12px;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #1c1c1c;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.icon-btn:hover {
  background: #2a2a2a;
  color: #fff;
}


.icon-btn.active {
  background: #ff6a00;
  color: #fff;
}

/* Right text */
.right-info span {
  color: #9ca3af;
  font-size: 14px;
}

.right-info strong {
  color: #ff6a00;
  font-weight: 600;
}

.latest .inner {

  background-color: #1a1a1a;
  border: 1px solid #2d2d2d;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.img-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.badge-cat {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.info-content .time {
  font-size: 14px;
  color: #737373;
}
.info-content .desc {
  font-size: 14px;
  color: #a1a1a1;
}
.author-meta {
  font-size: 12px;
  color: #737373;
}
.article-title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  transition: color 0.3s ease;
}
.desc {
  font-size: 0.9rem;

  overflow: hidden;
}


.avatar-wrapper img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.author-meta h4 {
  font-size: 14px;
  color: #fff;
}

.action-icon {
  width: 40px;
  height: 40px;
  background-color: #262626;
  border: 1px solid #333;
  color: #737373;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.latest .inner:hover {
  border-color: #ff6900;
  transform: translateY(-5px);
}

.latest .inner:hover .article-title {
  color: #ff6900; 
}

.latest .inner:hover .img-container img {
  transform: scale(1.1); 
}

.latest .inner:hover .action-icon {
  background-color: #ff6900; 
  color: #fff;
  border-color: #ff6900;
  box-shadow: 0 0 15px rgba(255, 105, 0, 0.4);
  transform: translateX(-5px); 
}

/* ???????????????????????? */


.list-view .inner {
  
}
